In [43]:
from datetime import datetime

import numpy as np
import pandas as pd
import openpyxl as op
from datetime import datetime

In [44]:
df=pd.read_excel('lab4.xlsx')
df

   number              Fio  birthDate  Month
0       1       Пупкин В.Ф 2022-05-10    NaN
1       2      Гренкин А.В 2023-05-11    NaN
2       3     Кукарево П.О 2024-06-12    NaN
3       4      Виндовс О.С 2017-01-15    NaN
4       5       Давкан Н.С 2018-04-16    NaN
5       6     Кириешка Н.Н 2020-05-17    NaN
6       7       Ловкий К.Р 2012-12-20    NaN
7       8       Физрук А.Г 2015-05-16    NaN
8       9        Абвгд Е.Ё 2005-01-10    NaN
9      10  Первыйкласс А.Р 2004-01-10    NaN

In [45]:
def calculate_age(birth_date):
    today = datetime.now()
    age = today.year - birth_date.year
    
    if (today.month, today.day) < (birth_date.month, birth_date.day):
        age -= 1
        
    return age

In [46]:
df['age']=df['birthDate'].apply(lambda x:calculate_age(x))
df.to_excel('обновленный_файл.xlsx', index=False)
df

   number              Fio  birthDate  Month  age
0       1       Пупкин В.Ф 2022-05-10    NaN    2
1       2      Гренкин А.В 2023-05-11    NaN    1
2       3     Кукарево П.О 2024-06-12    NaN    0
3       4      Виндовс О.С 2017-01-15    NaN    7
4       5       Давкан Н.С 2018-04-16    NaN    6
5       6     Кириешка Н.Н 2020-05-17    NaN    4
6       7       Ловкий К.Р 2012-12-20    NaN   11
7       8       Физрук А.Г 2015-05-16    NaN    9
8       9        Абвгд Е.Ё 2005-01-10    NaN   19
9      10  Первыйкласс А.Р 2004-01-10    NaN   20

In [47]:
posobie = 30000
def calculate_posobie(vozrast):
    if vozrast < 3:
        return posobie * 1.0
    elif vozrast < 8:
        return posobie * 0.8
    elif vozrast <= 17:
        return posobie * 0.6
    else:
        return 0

In [48]:
df['posobie'] = df['age'].apply(calculate_posobie)
df

   number              Fio  birthDate  Month  age  posobie
0       1       Пупкин В.Ф 2022-05-10    NaN    2  30000.0
1       2      Гренкин А.В 2023-05-11    NaN    1  30000.0
2       3     Кукарево П.О 2024-06-12    NaN    0  30000.0
3       4      Виндовс О.С 2017-01-15    NaN    7  24000.0
4       5       Давкан Н.С 2018-04-16    NaN    6  24000.0
5       6     Кириешка Н.Н 2020-05-17    NaN    4  24000.0
6       7       Ловкий К.Р 2012-12-20    NaN   11  18000.0
7       8       Физрук А.Г 2015-05-16    NaN    9  18000.0
8       9        Абвгд Е.Ё 2005-01-10    NaN   19      0.0
9      10  Первыйкласс А.Р 2004-01-10    NaN   20      0.0

In [49]:
total_summa_posobia = df['posobie'].sum()
print(total_summa_posobia)

198000.0

In [50]:
average_age = df['age'].mean()
print(average_age)

7.9

In [51]:
count_children_above_8 = df[df['age'] > 8].shape[0]
print(count_children_above_8)

4

In [52]:
grouped_df = df.groupby('Fio')['posobie'].sum().reset_index()
print(grouped_df)

               Fio  posobie
0        Абвгд Е.Ё      0.0
1      Виндовс О.С  24000.0
2      Гренкин А.В  30000.0
3       Давкан Н.С  24000.0
4     Кириешка Н.Н  24000.0
5     Кукарево П.О  30000.0
6       Ловкий К.Р  18000.0
7  Первыйкласс А.Р      0.0
8       Пупкин В.Ф  30000.0
9       Физрук А.Г  18000.0

In [53]:
df['birthDate'] = pd.to_datetime(df['birthDate'], format='%d.%m.%Y')
df['Год-Месяц'] = df['birthDate'].dt.strftime('%Y-%m')

grouped_df = df.groupby(['Год-Месяц'])['posobie'].sum().reset_index()
print(grouped_df)

  Год-Месяц  posobie
0   2004-01      0.0
1   2005-01      0.0
2   2012-12  18000.0
3   2015-05  18000.0
4   2017-01  24000.0
5   2018-04  24000.0
6   2020-05  24000.0
7   2022-05  30000.0
8   2023-05  30000.0
9   2024-06  30000.0